
.holiday {
    margin-top: 100px;
    padding: 0 13%;


    .card-div{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        gap: 15px;
        margin-top: 35px;
    }

    @media screen and (max-width: 900px) {
        .card-div{
            display: grid;
            grid-template-columns: 33% 33% 33% ;
        }
    }
    @media screen and (max-width: 675px) {
        .card-div{
            display: grid;
            grid-template-columns: 50% 50%;
        }
    }
    @media screen and (max-width: 450px) {
        .card-div{
            display: grid;
            grid-template-columns: 100%;
            gap:0;
        }
    }
}