.video-whall {
    margin-top: 60px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0 20px;
    padding-top: 50px;

    .h2,
    h3,
    p {
        color: white !important;
    }

    .video {
        position: absolute;
        left: 50%;
        width: 50%;
        
        overflow: hidden;
        bottom: -80px;
        background-repeat: no-repeat;
        background-size: cover;
        border: 10px solid rgba(255, 255, 255, 0.644);
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);

        video{
            width: 100%;
            
        }
    }

    @media screen and (max-width:950px) {
        .video{
            width: 80%;
        }
    }
}