.roundCard {
    .round {
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
        }

        h2 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
             font-family: 'Lobster', cursive;
             font-size: 30px;
             color: white;
             font-weight: normal;
        }
    }
}