.title {
    text-align: center;

    h3 {
        font-size: 20px;
        font-family: 'Lobster', cursive;
        font-weight: normal;
    }
    h2{
        font-size: 35px;
        color: rgb(0, 0, 133);
        font-weight: 900;
    }
    p{
        font-size: 12px;
        color: rgb(70, 70, 70);
    }
}